In [1]:
#Collections Lesson

In [2]:
#Counter
from collections import Counter

In [4]:
l = [1,1,1,1,1,12,2,2,2,3,3,3,4,4,4,5,5]
Counter(l)

Counter({1: 5, 12: 1, 2: 3, 3: 3, 4: 3, 5: 2})

In [5]:
s = 'asssssdfavsaabbabasasdfzxcxv'
Counter(s)

Counter({'a': 7,
         's': 8,
         'd': 2,
         'f': 2,
         'v': 2,
         'b': 3,
         'z': 1,
         'x': 2,
         'c': 1})

In [8]:
s = "How many times does each word show up in this sentence word word shoe up up up up show"

In [9]:
words = s.split()

In [10]:
Counter(words)

Counter({'How': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 3,
         'show': 2,
         'up': 5,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'shoe': 1})

In [11]:
c = Counter(words)

In [12]:
c.most_common(2)

[('up', 5), ('word', 3)]

In [14]:
sum(c.values())

19

In [15]:
list(c)

['How',
 'many',
 'times',
 'does',
 'each',
 'word',
 'show',
 'up',
 'in',
 'this',
 'sentence',
 'shoe']

In [16]:
c.most_common()[-1-1:-1]

[('sentence', 1)]

In [17]:
#Default Dict Lesson

In [18]:
from collections import defaultdict

In [22]:
d = {'k1':1}

In [23]:
d['k1']

1

In [24]:
d['k2']

KeyError: 'k2'

In [25]:
d = defaultdict(object)

In [29]:
d['one']

In [32]:
for item in d:
    print(item)

one

In [33]:
d = defaultdict(lambda : 0)

In [34]:
d['one']

0

In [35]:
d['k1']

0

In [36]:
print(d)

defaultdict(<function <lambda> at 0x109b8f510>, {'one': 0, 'k1': 0})

In [37]:
d['two'] = 2

In [38]:
d

defaultdict(<function __main__.<lambda>()>, {'one': 0, 'k1': 0, 'two': 2})

In [39]:
# Ordered Dictionary Lesson

In [43]:
d = {}

d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [44]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [53]:
for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5

In [54]:
from collections import OrderedDict

In [56]:
d = OrderedDict()

In [57]:
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [58]:
for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5

In [63]:
d1 = OrderedDict()
d1['a'] = 1
d1['b'] = 2

d2 = OrderedDict()
d2['b'] = 2
d2['a'] = 1

In [64]:
print(d1 == d2)

False

In [65]:
# NamedTuple Lesson

In [66]:
t = (1,2,3)

In [67]:
t[0]

1

In [68]:
from collections import namedtuple

In [69]:
Dog = namedtuple('Dog','age breed name')

In [70]:
sam = Dog(age=2,breed='Lab',name='Sammy')

In [72]:
sam.age

2

In [73]:
sam.count

In [75]:
sam.index

In [79]:
sam.name

'Sammy'

In [80]:
Cat = namedtuple('Cat','fur claws name')

In [81]:
c = Cat(fur='Fuzzy',claws=False,name='Kitty')

In [82]:
c.name

'Kitty'

In [83]:
c.fur

'Fuzzy'

In [84]:
print(c.name)

Kitty

In [85]:
c.claws

False

In [86]:
if c.claws != True:
    print("The cat has been de-clawed!")

The cat has been de-clawed!

In [87]:
# Datetime lesson

In [88]:
import datetime

In [91]:
t = datetime.time(5,25,1)

In [92]:
print(t)

05:25:01

In [93]:
t.hour

5

In [94]:
t.minute

25

In [95]:
t.second

1

In [97]:
datetime.time.min

datetime.time(0, 0)

In [98]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

In [99]:
print(datetime.time.max)

23:59:59.999999

In [100]:
print(datetime.time.resolution)

0:00:00.000001

In [103]:
today = datetime.date.today()

In [104]:
print(today)

2020-05-02

In [105]:
today.year

2020

In [106]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=5, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=123, tm_isdst=-1)

In [110]:
today.day

2

In [111]:
datetime.date.min

datetime.date(1, 1, 1)

In [112]:
datetime.date.max

datetime.date(9999, 12, 31)

In [113]:
date = datetime.date(2010,9,20)

In [114]:
print(date)

2010-09-20

In [116]:
d1 = datetime.date(2015,3,11)

In [117]:
print(d1)

2015-03-11

In [118]:
d2 = d1.replace(year=1990)

In [119]:
print(d2)

1990-03-11

In [120]:
d1

datetime.date(2015, 3, 11)

In [121]:
d2

datetime.date(1990, 3, 11)

In [122]:
d1-d2

datetime.timedelta(days=9131)

In [123]:
print(d1-d2)

9131 days, 0:00:00

In [125]:
now = datetime.datetime.now().time()

In [128]:
print(now)

18:03:38.364622

In [129]:
then = datetime.datetime.now().time()

In [130]:
print(then)

18:03:56.986693

In [132]:
t = datetime.datetime.time.now()

AttributeError: 'method_descriptor' object has no attribute 'now'