In [1]:
#If elif and Else statements

In [2]:
#syntax of a basic if statement
#if some_condition:
    # execute some code
#elif some_other_condition
    #do something else
#else:
    #do something else

In [10]:
hungry = True

if hungry:
    print('Feed me')
else:
    print('Im not hungry')

Feed me

In [14]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [17]:
name = 'Jose'

if name == 'Frankie':
    print('Hello, Frankie')
elif name == 'Sammy':
    print('Hello, Sammy')
else:
    print("What is your name?")

What is your name?

In [18]:
#for loops

In [19]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [23]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [26]:
for num in list1:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [33]:
list_sum = 0

for num in list1:
    list_sum = list_sum + num
    print(num)
    
print(list_sum)

1
2
3
4
5
6
7
8
9
10
55

In [35]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [37]:
for letter in 'I am the destroyer of worlds':
    print(letter)

I

a
m

t
h
e

d
e
s
t
r
o
y
e
r

o
f

w
o
r
l
d
s

In [38]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [40]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [46]:
#Example of Tuple Unpacking!!

mylist = [(1,2),(3,4),(5,6),(7,8)]

In [44]:
len(mylist)

4

In [43]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [47]:
for (a, b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [48]:
for a,b in mylist:
    print(b)

2
4
6
8

In [49]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [50]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [51]:
for a,b,c in mylist:
    print(b)

2
6
9

In [52]:
#iterating through a dictionary ~ dictionary unpacking

In [53]:
d = {'k1':1,'k2':2,'k3':3}

In [67]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [68]:
#dictionaries are unordered! There's no guarantee that when iterated
#through the list will print in the same order

In [69]:
#while loops

In [76]:
x = 0


while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [81]:
#PASS
x = [1,2,3]

for item in x:
    # if I were to just have a comment here, the loop with break. Must add the "pass" placeholder to avoid the error
    pass
print("end of my script")

end of my script

In [85]:
#CONTINUE
mystring = 'Sammy'

In [84]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [86]:
#BREAK
mystring = "Sammy"

In [87]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [89]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [90]:
#Useful Operators Lesson

In [91]:
mylist = [1,2,3]

In [95]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [96]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [97]:
index_count = 0

for letter in 'abcde':
    print('At index {} the ltter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the ltter is a
At index 1 the ltter is b
At index 2 the ltter is c
At index 3 the ltter is d
At index 4 the ltter is e

In [102]:
#use the enumerate function to replicate the above
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [110]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100, 200, 300]

In [113]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

In [111]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [116]:
2 in [1,2,3]

True

In [115]:
'x' in ['x','y','z']

True

In [117]:
'a' in 'a world'

True

In [118]:
'mykey' in {'mykey':345}

True

In [119]:
d = {'mykey':345}
345 in d.keys()

False

In [120]:
345 in d.values()

True

In [121]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [122]:
max(mylist)

100

In [123]:
from random import shuffle

In [127]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
#this is an in-place function!

In [125]:
mylist

[3, 4, 8, 1, 7, 2, 10, 5, 6, 9]

In [128]:
mylist

[6, 2, 9, 3, 8, 7, 1, 10, 4, 5]

In [129]:
from random import randint

In [130]:
randint(0, 100)

50

In [131]:
mynum = randint(0, 10)

In [132]:
mynum

2

In [133]:
mynum

2

In [135]:
result = input('What is your name?')

What is your name? Jose

In [136]:
result

'Jose'

In [140]:
result =int(input("What is your favorite number?"))

What is your favorite number? 30

In [141]:
type(result)

int