In [1]:
myString = 'abcdefghijk'

In [2]:
myString[:3]

'abc'

In [3]:
myString[3:]

'defghijk'

In [4]:
myString[3:6]

'def'

In [5]:
myString[1:2]

'b'

In [6]:
myString[1:3]

'bc'

In [7]:
myString[::]

'abcdefghijk'

In [11]:
myString[::2]

'acegik'

In [13]:
myString[2:7:2]

'ceg'

In [14]:
myString[::-1]

'kjihgfedcba'

In [15]:
name = "Sam"

In [16]:
#name[0] = 'P'

In [18]:
last_letters = name[1:]

In [19]:
last_letters

'am'

In [20]:
'P' + last_letters

'Pam'

In [21]:
x = "Hello World"

In [27]:
x = x + " it is beautiful outside!"

In [28]:
x

'Hello World it is beautiful outside! it is beautiful outside!'

In [30]:
letter = 'Z'

In [32]:
letter * 10

'ZZZZZZZZZZ'

In [33]:
2 + 3

5

In [34]:
'2' + '3'

'23'

In [35]:
x = 'Hello world'

In [37]:
x.upper()

'HELLO WORLD'

In [38]:
x.lower()

'hello world'

In [40]:
x.split('l')

['He', '', 'o wor', 'd']

In [41]:
x = "hi this is a string"

In [42]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [43]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [44]:
print('hello')

hello

In [45]:
#Print Formatting with Strings

In [46]:
my_name = "Jose"

In [47]:
print("Hello " + my_name)

Hello Jose

In [48]:
#formatating with the .format() method

In [49]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [50]:
print('The {} {} {}'.format('fox', 'brown','quick'))

The fox brown quick

In [51]:
print('The {2} {1} {0}'.format('fox', 'brown','quick'))

The quick brown fox

In [52]:
print('The {0} {0} {0}'.format('fox', 'brown','quick'))

The fox fox fox

In [54]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [56]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q='quick'))

The fox fox fox

In [57]:
#float formatting

In [58]:
result = 100/777

In [59]:
result

0.1287001287001287

In [62]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [65]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [68]:
#Illustrataes width
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [69]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [70]:
result = 104.12345

In [71]:
print("The result was {r:1.5f}".format(r=result))

The result was 104.12345

In [72]:
#format-string literals

In [73]:
name = "Jose"

In [75]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [76]:
name = "Same"
age = 3

In [77]:
print(f"{name} is {age} years old.")

Same is 3 years old.

In [78]:
#lists

In [79]:
my_list = [1,2,3]

In [80]:
my_list = ['STRING',100,23.2]

In [81]:
len(my_list)

3

In [83]:
mylist = ['one','two','three']

In [84]:
mylist[0]

'one'

In [85]:
mylist[1]

'two'

In [86]:
mylist[1:]

['two', 'three']

In [87]:
mylist

['one', 'two', 'three']

In [88]:
another_list = ['four','five']

In [90]:
new_list = mylist + another_list

In [91]:
new_list

['one', 'two', 'three', 'four', 'five']

In [95]:
new_list[0] = 'ONE ALL CAPS'

In [96]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [97]:
new_list.append('six')

In [98]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [100]:
new_list.append('seven')

In [101]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [102]:
new_list.pop()

'seven'

In [103]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [104]:
popped_item = new_list.pop()

In [105]:
popped_item

'six'

In [106]:
new_list.pop(0)

'ONE ALL CAPS'

In [107]:
new_list

['two', 'three', 'four', 'five']

In [108]:
new_list.pop(-1)

'five'

In [109]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [110]:
new_list.sort()

In [111]:
new_list

['a', 'b', 'c', 'e', 'x']

In [114]:
new_list.sort()
my_sorted_list = new_list

In [115]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [116]:
num_list.sort()

In [117]:
num_list

[1, 3, 4, 8]

In [118]:
num_list.reverse()

In [119]:
num_list

[8, 4, 3, 1]

In [ ]:
#append(), pop(), sort() and reverse() methods